[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ubports-gerrit
[access "refs/for/refs/*"]
	read = group user/ubports-gerrit
	push = group user/ubports-gerrit
	label-Code-Review = -2..+2 group user/ubports-gerrit
	label-Verified = -1..+1 group user/ubports-gerrit
	rebase = group user/ubports-gerrit
	removeReviewer = group user/ubports-gerrit
	submit = group user/ubports-gerrit
[access "refs/heads/*"]
	read = group user/ubports-gerrit
	create = group user/ubports-gerrit
	push = +force group user/ubports-gerrit
	pushMerge = group user/ubports-gerrit
[access "refs/tags/*"]
	push = +force group user/ubports-gerrit
	pushTag = group user/ubports-gerrit
	pushSignedTag = group user/ubports-gerrit
