Source: audioflingerglue
Version: 0.1
Section: audio
Priority: optional
Build-Depends: debhelper (>= 9)
Maintainer: Marius Gripsgard <marius@ubports.com>

Package: audioflingerglue-dev
Priority: optional
Architecture: any
Multi-Arch: foreign
Description: Audioflinger glue development files
